@model Authentication.Models.UserAccount


@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-4">
        <h3>Account Details</h3>
        
            <dl class="table">
                <dt>
                    @Html.DisplayNameFor(models => models.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(models => models.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(models => models.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(models => models.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(models => models.Address.StreetAddress)
                </dt>
                <dd>
                    @Html.DisplayFor(models => models.Address.StreetAddress)
                </dd>
                <dt>
                    @Html.DisplayNameFor(models => models.Address.City)
                </dt>
                <dd>
                    @Html.DisplayFor(models => models.Address.City)
                </dd>
                <dt>
                    @Html.DisplayNameFor(models => models.Address.State)
                </dt>
                <dd>
                    @Html.DisplayFor(models => models.Address.State)
                </dd>
                <dt>
                    @Html.DisplayNameFor(models => models.Address.Zipcode)
                </dt>
                <dd>
                    @Html.DisplayFor(models => models.Address.Zipcode)
                </dd>
            </dl>
        
            <div class="container">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Create Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Wallet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Edit">Update Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Account History</a>
                    </li>
                </ul>
            </div>


</div>
    <div class="col-md-8">
        <h2>Get more libraries</h2>
        <p>

        </p>
        
    </div>
   
</div>