@model Authentication.Models.UserAccount


@{
    ViewData["Title"] = "Index";
}


<h1>Account Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<div>
    <h4>Contact Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>
    <h4>Mailing Address</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.State)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Zipcode)
        </dd>
    </dl>
</div>
<div>
    <h4>Wallet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wallet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wallet.Balance)
        </dd>
    </dl>
</div>
        <h3>Manage Account</h3>
        <div class="container">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Create Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Edit">Update Info</a>
                </li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h5>Need a Lyft?</h5>
            <br>
            <iframe width="275" height="70" sandbox="allow-scripts allow-forms allow-top-navigation-by-user-activation"
                    src="https://cdn.lyft.com/static/widgets/embed.html?location_street_address=5708%20n%2078th%20street&location_city=Milwaukee&location_postal_code=53222&theme=&button_size=&referrer=https%3A%2F%2Flocalhost%3A44356&text_color="
                    frameborder=0></iframe>
        </div>


    </div>
    <div class="col-md-8">
        <h4></h4>

    </div>

</div>